a,
h3,
p,
h4,
option,
button,
span {
    font-family: "Anton", sans-serif !important;
    font-weight: 650 !important;
    font-style: normal !important;
}

.kanit-thin {
    font-family: "Anton", sans-serif !important;
    font-weight: 650 !important;
    font-style: normal !important;
}
