a,
h3,
p,
h4,
option,
button,
span {
    font-family: "Kanit", serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.kanit-thin {
    font-family: "Kanit", serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #0084FF; /* Màu xanh */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 50px;
}

/* Hiệu ứng hover */
.floating-button:hover {
    transform: scale(1.1);
}

/* Icon tin nhắn */
.floating-button img {
    width: 35px;
    height: auto;
}
